// @import "nullstyle.scss";

body {
    background: #061929;
    font-size: 30px;
}

#plane_1 {
    background: white;
    width: max-content;
}
#plane_2 {
    background: white;
    width: max-content;
}
#plane_3 {
    background: white;
    width: max-content;
}

